@import "./variables";

%sign {
  font-size: 7em;
  margin: 0 30px 20px 30px;
  cursor: pointer;
  width: 100px; /* or whatever width you want. */
  max-width: 100px; /* or whatever width you want. */
  display: inline-block;
  border-radius: 10px;
}

#add-transaction {
  @import "./form";

  h1 {
    font-size: 3em;
  }
  h2 {
    text-shadow: 2px 2px $shadow;
    font-size: 2em;
  }

  textarea {
    margin: auto;
    resize: none;
    background-color: $shadow;
    border-radius: 5px;
    color: inherit;
    font-size: 1.5em;
    padding: 10px;
  }

  #options {
    display: flex;
    justify-content: center;
    input {
      margin: 0;
    }
  }

  label {
    &#active {
      @extend %sign;  
      outline: 10px dashed $shadow;
      transition: outline 0.5s;
    }

    &#inactive {
      @extend %sign;
    }
  }

  input[type="radio"] {
    visibility: hidden;
  }
}
